fieldset {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 5rem;
  background-color: #1d2d44;
  color: #fff;
}

input {
  margin: 1rem;
  padding: 0.5rem;
}

::placeholder {
  color: #adb5bd;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: transparent;
  font-size: 1.5rem;
  border: 2px solid #adb5bd;
}

button {
  background: #52b790;
  padding: 1rem;
  color: #fff;
  font-size: 1.5rem;
  min-width: 15rem;
}

.buttons {
  text-align: center;
}

#logIn {
  background-color: #646f7d;
  color: #adb5bd;
}

.names {
  text-align: center;
}

#firstName {
  width: auto;
}

#lastName {
  width: auto;
}

.formTitle {
  text-align: center;
}

.names {
  display: flex;
  justify-content: space-between;
}

.names input {
  flex: 1;
}

#submit {
  background: #52b790;
  padding: 1rem;
  color: #fff;
  font-size: 2rem;
}
